<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Users</h1>
    <div class="container">
      <form action="/create_user" method="POST">
        <label for="fname">First Name:</label>
        <input name="fname" type="text" />
        <label for="lname" type="text">Last Name</label>
        <input name="lname" type="text" />
        <label for="email" type="text">Email</label>
        <input name="email" type="text" />
        <input type="submit" value="Add User" />
      </form>
      <a href="/">Go Home</a>
    </div>
  </body>
</html>
