<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/update" method="post">
      <h1>Edit {{user.first_name}}</h1>
      <input type="hidden" name="id" value="{{user.id}}" />
      <label for="fname">First Name:</label>
      <input name="fname" type="text" value="{{user.first_name}}" />
      <label for="lname" type="text">Last Name</label>
      <input name="lname" type="text" value="{{user.last_name}}" />
      <label for="email" type="text">Email</label>
      <input name="email" type="text" value="{{user.email}}" />
      <input type="submit" value="Update User" />
    </form>
    <a href="/">Go Home</a>
  </body>
</html>
