<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      {% for user in all_users %}
      <p><strong>Name:</strong> {{user.first_name}}</p>
      <p><strong>Last Name:</strong> {{user.last_name}}</p>
      <p><strong>Email:</strong> {{user.email}}</p>
      <p>
        Action <br /><a href="/select/{{user.id}}">Select</a>
        <a href="/useredit/{{user.id}}">Edit</a>
        <a href="/delete/{{user.id}}">Delete</a>
      </p>
      <h4>==============================================</h4>
      {% endfor %}
    </div>
    <a href="/newuser" type="POST">Add a New User!</a>
  </body>
</html>
